.section-1{
    padding: 15vh 5%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0)),
    url("../Pics/multi-background.png");
    background-size: cover;
}

.section-1 img{
    width: 6vh;
    margin: 0 0 10vh 0;
    transition: 0.3s  ease;
}

.section-1 img:hover{
    width: 6.5vh;
}