body{
    background: white;
    position:relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin:0;
    padding:0;
    z-index: 0;
}
.main{
    top:45vh;
    position: relative;
    background-color:white;
    z-index: 0;
}

.navigation{
    position:fixed;
    top:0;
    overflow: hidden;
    width:100%;
    height: 7vh;
    padding-right: 8vh;
    z-index: 1;
    transition: 0.3s;
}

.nfade-in{
    background-color: "white";
}

.navigation a {
    float: right;
    padding: 15px 30px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.navigation:hover {
    background-color:white !important;
}

.navigation:hover a{
    color:black !important;
}

.navigation a:hover{
    color: rgb(140, 180, 255) !important;
}
.navigation:hover .logo{
    filter: invert(100%) !important;
}

.logo:hover{
    background-color: rgb(92, 52, 0) !important;
}

.logo{
    background-image: url("../Pics/tjlogo2-light.png");
    background-size: cover;
    background-position: center;
    width: 10%;
    height: 100%;
    padding:0 !important;
    cursor: pointer;
    position: absolute;
    left: 4vh;
    transition: all ease 0.1s;
}


.banner{
    position: fixed;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-color: rgba(184, 36, 36, 0.76);
    background-image: linear-gradient(to bottom, rgba(221, 64, 64, 0.308) 40%, rgba(255, 255, 255, 0)), url('../Pics/study.jpeg');
    background-size:  cover;
    background-position: bottom;
    z-index: -3;
}

   
.title{
    position: absolute;
    top: 5vh;
    left: 20vh;
}

.title p{
    color: rgb(255, 255, 255);
}

#title-p{
    font-size:12vh;
    margin-bottom: 0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}


.title{
    position: absolute;
    top: 5vh;
    left: 20vh;
}

.title p{
    color: rgb(255, 255, 255);
}

#title-p{
    font-size:12vh;
    margin-bottom: 0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}

.summary{
    overflow: hidden;
    width:100%;
    height: 40vh;
    background-color:transparent;
    padding-top:5vh;
}
.summary p{
    color: rgb(53, 53, 53);
    font-family: 'Poppins', sans-serif;
    width: 90%;
}

.s-title{
    font-size: 5vh;
    margin-bottom: 0vh;
}

#s-desc{
    font-size: 2.5vh;
    text-align: left;
}

.s-table {
    background-color: transparent;
    position: relative;
    table-layout: fixed;
    width: 80%;
    border-radius: 2vh;
    border-spacing: 3vh;
}
  
.s-table td {
    text-align: center;
    font-size: 3vh;
    padding:3vh;
    overflow: hidden;
    color: grey;
    font-family: 'Poppins', sans-serif;
    border:1px  solid grey;
    border-radius: 1vh;
    transition: all ease 0.2s;
    cursor: pointer;
}

.s-table td:hover {
    color:transparent;
    background-color: rgb(201, 64, 64);
    border:0;
}

.mline{
    margin: 5vh 0 0 0;
    border: 0;
    text-align: center;
}

.mline::before {
    content: "\2022 \ \2022 \ \2022 \ \2022 \ \2022";
    font-size: 50px;
    color: rgb(202, 93, 79);
}

.math{
    position: relative;
    width: 100%;
    background: transparent;
    transition: all ease 0.3s;
    padding-bottom: 8vh;
}

.math:hover{
    background-color: rgba(0, 0, 0, 0.185);
}

.stem{
    position: relative;
    background-color: transparent;
    padding-bottom: 5vh;
    transition: all ease 0.3s;
}

.stem:hover{
    background-color: rgba(0, 0, 0, 0.185);
}

.english{
    position: relative;
    width: 100%;
    background: transparent;
    transition: all ease 0.3s;
    padding-bottom: 9vh;

}

.english:hover{
    background-color: rgba(0, 0, 0, 0.185);
}

.sub-title{
    color: rgb(61, 61, 61);
    font-family: 'PT Sans', sans-serif;
    font-size: 8vh;
    padding: 1.5vh 0 0 6%;
    margin: 0;
}

.see-more{
    position: absolute;;
    left:80%;
    padding: 1.5vh 0 2vh 0;
    margin:0;
    text-decoration: none;
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
    color:rgba(0, 0, 0, 0.637);
    transition: ease 0.2s;
}

.see-more:hover{
    cursor: pointer;
    color:rgb(0, 0, 0);
    font-size: 2.4vh;
}

.st-table {
    position: relative;
    table-layout: fixed;
    width: 95%;
    border-spacing: 2vh 1vh;
    margin-top: 1vh;
}

.t-block{
    position: relative;
    cursor: pointer;
    transition: all ease 0.2s;
}

.thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    background-size: cover;
    background-position: center;
    padding:0;
    overflow: hidden;
    transition: all ease 0.2s;
    border:none;
    overflow: hidden;
    border-radius: 1vh;
    filter:brightness(60%);
}

.t-block:hover .thumbnail{
    filter:brightness(40%);
    cursor: pointer; 
    /*use JS to make img animate by hovering on label*/
}


.label{
    color: rgb(255, 255, 255);
    filter:brightness(100%) !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 5vh;
    padding: 3vh;
    display: inline-block;
    z-index: 1;
}

.thumbnail:hover label{
    color:rgb(255, 255, 255);
    /*use JS to make img animate by hovering on label*/
}


.drop-info{
    position: fixed; /* Sit on top of the page content */
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 10%;
    left: 10%;
    display: none;
    border-radius: 5vh;
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
    background-color: rgba(32, 32, 32, 0.96);
}

.drop-info p{
    font-size: 2vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.d-title{
    font-size: 5vh !important;
    font-family: 'PT Sans', sans-serif;
    text-transform:capitalize;
    margin: 0;
    padding: 2vh 0;
}

.dates{
    margin: 0;
    position: relative;
    table-layout: fixed;
    width: 80%;
    left:3%;
    border-radius: 2vh;
    border-spacing: 4vh 3vh;
}
  
.dates td {
    text-align: center;
    font-size: 1.5vh;
    padding:1.5vh;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif !important;
    width: 40%;
    background-color: rgb(0, 136, 160);
    border-radius: 4vh;
    transition: all ease 0.2s;
}

.d-desc{
    margin:0;
    padding: 0 5%;
    font-size: 2.5vh;
}

.slides{
    position: relative;
    width: 100%;
    height:35vh;
    padding-bottom:1vh;
}

.slides img{
    vertical-align: middle;
    max-height: 100%;
    border-radius: 1vh;
    filter: brightness(90%);
}

.close{
    position: absolute !important;
    top:1% !important;
    left:2% !important;
    padding: 1vh;
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
    position: relative;
    display: inline-block;
    font-size: 3.8vh !important;
    left: 1%;
    transition: all ease 0.3s;
}

.close:hover{
    color: rgb(255, 106, 106);
    cursor: pointer;
}

.right {
    position: absolute;
    position: absolute !important;
    top:-20%;
    right:12%;
}

.left {
    position: absolute !important;
    top:-20%;
    left:12%;
}


.i {
    color: rgb(255, 255, 255);
    font-size: 40vh;
    display: inline-block;
    font-family: 'Economica', sans-serif;
    transition: all ease .1s;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
    transition: 0.3s  ease;
}

.i:hover{
    cursor: pointer;
    color:rgb(0, 136, 160);
}

.bottom{
    margin-top: 10vh;
    background-color: rgb(37, 112, 224);
    overflow: hidden;
    bottom:0;
    padding:6vh  0  2vh 0;
}

.bp{
    margin:2vh;
    font-size:2vh;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

