.intro {
    padding: 25vh 0 15vh 0;
    background-image: url("../Pics/purple-background.png");
    background-size: cover;
}

.intro p {
    margin-top: 5vh;
    max-width: 75%;
}

.math-btn {
    border: 2px rgb(118, 74, 221) solid;
    color: rgb(118, 74, 221);
    background: rgba(255, 255, 255, 0);
}

.math-btn:hover {
    background: linear-gradient(to bottom, rgba(118, 74, 221, 0.75), rgba(118, 74, 221, 0.75)),
        url("../Pics/math.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.eng-btn {
    border: 2px rgb(74, 138, 221) solid;
    color: rgb(74, 138, 221);
    background: white;
    background-position: center;

}

.eng-btn:hover {
    background: linear-gradient(to bottom, rgba(74, 138, 221, 0.75), rgba(74, 138, 221, 0.75)),
        url("../Pics/english.jpg");
    background-size: cover;
    color: white;
}

.stem-btn {
    border: 2px rgb(221, 74, 123) solid;
    color: rgb(221, 74, 123);
    background: rgba(255, 255, 255, 0);
}

.stem-btn:hover {
    background: linear-gradient(to bottom, rgb(221, 74, 123, .75), rgb(221, 74, 123, .75)),
        url("../Pics/stem.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.subject {
    padding: 0 5vw 10vh 10vh;
    display: grid;
}

.subject p,
.subject h2 {
    color: white !important;
}

.subject hr {
    width: 15%;
    border-color: white;
}

.subject img {
    max-width: 70%;
    border-radius: 10vh;
    box-shadow: 0 1vh 2vh;
}

#math-block {
    background-image: linear-gradient(to bottom, rgb(108, 45, 255), rgb(191, 80, 255))
}

#eng-block {
    background-image: linear-gradient(to bottom, rgb(45, 66, 255), rgb(80, 121, 255))
}

#stem-block {
    background-image: linear-gradient(to bottom, rgba(248, 45, 255, 0.87), rgba(255, 80, 168, 0.795))
}




.tab {
    width: 45vh;
    margin-bottom: 4vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.651);
    background-color: rgba(0, 0, 0, 0.15);

}

.tablink {
    display: inline-block;
    font-family: 'Raleway';
    font-size: 2.5vh;
    width: 49.5%;
    padding: 1vh;
    transition: 0.2 ease-in-out;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s ease;
}

.tablink:hover {
    color: white;
}

.active-tab {
    background-color: rgba(0, 0, 0, 0.185);
}

.material,
.overview {
    grid-column: 1;
    grid-row: 2;
    transition: 0.5s ease;
    opacity: 1;
}

.hidden {
    display: none;
}

.document-block {
    display: inline-block;
    max-width: 30vh;
    margin: 2%;

}

.document-block a {
    color: rgba(255, 255, 255, 0.76);
    font-size: 2.5vh !important;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s ease;
}

.document-block a:hover {
    color: white;
}

.document {
    height: 30vh;
    width: 250px;
    position: relative;
    margin: 2vh 2%;
    border-radius: 3vh;
    overflow: hidden;
    transition: 0.2s ease;
    filter: brightness(70%);
    cursor: pointer;
    z-index: 1;
}

embed {
    pointer-events: none;
}

.document:hover {
    cursor: pointer;
    filter: brightness(100%);
}