body{
    position:relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin:0;
    padding:0;
    z-index: 0;
}

.main{
    width:100%;
    top:75vh;
    position: relative;
    background-color:white;
    padding: 5vh 0 0 0;
}

.navigation{
    position:fixed;
    top:0;
    overflow: hidden;
    width:100%;
    height: 7vh;
    padding-right: 8vh;
    z-index: 3;
    transition: 0.3s;
}

.nfade-in{
    background-color: "white";
}

.navigation a {
    float: right;
    padding: 15px 30px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.navigation:hover {
    background-color:white !important;
}

.navigation:hover a{
    color:black !important;
}

.navigation a:hover{
    color: rgb(140, 180, 255) !important;
}
.navigation:hover .logo{
    filter: invert(100%) !important;
}

.logo{
    background-image: url("../Pics/tjlogo2-light.png");
    background-size: cover;
    background-position: center;
    width: 10%;
    height: 100%;
    padding:0 !important;
    cursor: pointer;
    position: absolute;
    left: 4vh;
    transition: all ease 0.1s;
}


.banner{
    top:0;
    position: fixed;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

.ba{
    background-image:url("../Pics/teaching1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    filter:brightness(80%);
    z-index: -6;
    position: absolute;
}

.title{
    position: absolute;
    top: 5vh;
    left: 20vh;
}

.title p{
    color: rgb(255, 255, 255);
}

#title-p{
    font-size:12vh;
    margin-bottom: 0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}

#mission{
    font-size:4vh;
    font-style: italic;
    font-family: 'Segoe UI';
}

.title button{
    position: absolute;
    cursor: pointer;
    top:58vh;
    left:1vh;
    background-color:rgba(255, 255, 255, 0);
    color: white;
    border: solid white;
    border-radius: 3vh;
    padding: 2vh 10%;
    font-size: 2.5vh;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease  0.25s;
}
.title button:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 34, 3);
}

.intro{
    overflow: hidden;
    width:100%;
    background-color:white;
    padding-top:5vh;
}
.intro p{
    font-size: 3vh;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quote{
    position: relative;
    width:30%;
    margin:2vh;
    display:inline-block;
    vertical-align: top;
    padding:2vh;
    height: 35vh;
    background-color: rgba(17, 192, 55, 0.623);
    border:white 10px;
    border-style: double;
    border-radius: 15px;
    transition: all ease 0.75s;
}

.quote p{
    padding:1vh;
    color:white;
}

.q-desc{
    position: absolute;
    font-style: italic;
    text-align: left;
}

.q-from{
    bottom:10%;
    position: absolute;
    right:10%;
    text-align: right;
}

.who{
    width:30%;
    margin:2vh;
    display:inline-block;
    vertical-align: top;
    height: 40vh;
}
#w-title{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 6vh;
    margin-bottom:1vh;
}

#w-desc{
    font-size: 2.5vh;
    text-align: left;
}

#w-sub{
    margin-top:1vh;
    font-size: 2vh;
    color: rgb(68, 68, 68);
}


.in-exp{
    margin:2vh;
    width:75%;
}

.in-para{
    font-size: 2.5vh !important;
}

.in-title{
    color:rgba(17, 192, 55, 0.623);
    font-size:5.5vh;
}

.mline{
    margin: 4vh 0 0 0;
    border: 0;
    text-align: center;
}

.mline::before {
    content: "\2022 \ \2022 \ \2022 \ \2022 \ \2022";
    font-size: 50px;
    color: rgb(202, 93, 79);
}

.services{
    overflow: hidden;
    width:100%;
    height: 80vh;
    margin:0;
    background-color:white;
    padding-top:1vh;
}
.services p{
    color:white;
}

.s-block{
    background-color:rgb(69, 134, 219);
    width:18%;
    margin: 0.5vh 2vh 2vh 2vh;
    padding-top:2vh;
    display:inline-block;
    vertical-align: top;

    padding:7vh 0;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    color: rgb(255, 255, 255);
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    z-index: 5;
}

.s-block:hover{
    background-color:rgba(83, 73, 218, 0.863);
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
    cursor: pointer;
}

.s-block > img{
    border: transparent;
    max-height:18vh;
}

.learn-more{
    position: relative;
    top:4vh;
    color:rgb(0, 18, 43);
    display: block;
}
.s-learn{
    position:relative;
    left:68vh;
    padding: 1vh 1.5vh;
    text-decoration: none;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    color:rgba(0, 0, 0, 0.637);
    transition: ease 0.2s;
}

.s-learn:hover{
    color:rgb(0, 0, 0);
    font-size: 2.1vh;
}

#s-title{
    margin: 2vh 3vh 3vh 3vh;
    color:black;
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
}

.e-title{
    margin: 2vh 0 0 0;
    font-size: 3vh;
    font-family: 'Trebuchet MS', sans-serif;
}
.e-desc{
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.projects{
    overflow: hidden;
    width:100%;
    height:80vh;
    margin-top: 0;
    background:rgba(245, 245, 245, 0);
    padding-top:4vh;
    transition: all ease 0.25s;
}


.slides{
    width: 70%;
    height:70%  !important;
    background-size: cover;
    background-position: center;
    height:50vh;
    border-radius: 1vh;
}

.dot {
    height: 25px;
    width: 25px;
    margin:7vh 1vh;
    background-color: rgb(202, 202, 202);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.info{
    width:100%;
    height:wrap;
    background-color: white;
}

.i-block{
    width:100%;
    height:44vh;
    vertical-align: top;
    transition: all .2s ease;
}
.display{
    display:inline-block;
    width:40%;
    height: 35vh;
    max-height: 45vh;
    padding: 3vh 3vh;
    vertical-align: top;
}
.exp{
    display:inline-block;
    width:40%;
    height: 35vh;
    padding:3vh 5vh;
    vertical-align: center;
}

.i-title{
    color:rgb(65, 65, 65);
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
    margin: 0.5vh 0vh;
}
.i-para{
    color:rgb(80, 80, 80);
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
}

.i-img{
    position:relative;
    max-height: 100%;

    transition: all .2s ease;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    box-shadow: 10px 10px rgba(78, 0, 0, 0.356);
}

.i-block:hover .i-img{
    max-height: 101%;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    box-shadow: 20px 20px rgba(0,0,0,.25);
}

.i-block:hover{
    background-color: rgb(224, 255, 251);
}

.i-line {
    position: relative;
    height: 2px;
    width: 90%;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(182, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.signup{
    margin-top: 7vh;
    height: 60vh;
}

.si-block{
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin: 0 3%;
    width: 40%;
    height: 100%;

}

.s-img{
    width: 100%;
    height: 100%;
    border-radius: 3vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:brightness(50%);
    transition: ease all 0.2s;

}

.si-block:hover .s-img{
    filter:brightness(80%);

}

.si-intro{
    position: absolute;
    color:rgb(255, 255, 255);
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
    z-index: 1;

    margin-top: 10vh;
    width:80%;
    left:15%;

}

.si-signup{
    position: absolute;
    color:rgb(255, 255, 255);
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
    z-index: 1;

    display: inline-block;
    padding:2vh 4vh;
    margin-top: 28vh;
    left:42%;
    font-size: 2.5vh !important;
    background-color: rgba(0, 117, 10, 0.479);
    border: 2px white solid;
    border-radius: 8vh;
    transition: all ease 0.2s;
    cursor: pointer;
}

.si-signup:hover{
    background-color: white;
    color: rgba(0, 117, 10, 0.479);

}

#big{
    font-size: 4.8vh;
    color:rgb(195, 255, 195);
}

.about{
    width:100%;
    height: 80vh;
    padding: 10vh 0;
    background-color: rgb(255, 255, 255);
    transition:ease 0.2s;
    background-image: 
    linear-gradient(to right, transparent 35%, white),
    linear-gradient(to top, transparent 55%, white),
    url("../Pics/rm-side.jpg");
    background-size: 40%;
    background-repeat: no-repeat;
}

.a-title{
    position: relative;
    color:rgb(46, 46, 46);
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    padding: 2vh 3vh;
    width: 50%;
    right:2%;
    font-size: 6vh;
}

.a-para{
    position: relative;
    color:rgb(46, 46, 46);
    font-family: 'Poppins', sans-serif;
    margin:1vh;
    font-size: 3vh;
    padding: 1vh 3vh;
    right:2%;
    width:60%;
}

.a-quote{
    right:2%;
    position: relative;
    color:rgb(46, 46, 46);
    font-family: 'Poppins', sans-serif;
    margin:7vh 0 0 0;
    font-size: 4.8vh;
    padding: 5vh 3vh;
    width:70%;
    opacity: 1;
}

.a-signup{
    position: absolute;
    display:inline-block;
    margin:0;
    display: inline-block;
    font-size: 2vh;
    right:3%;
    border:2px solid white;
    text-decoration: none;
    color:grey;
    transition: ease 0.2s;
    font-family: 'Poppins', sans-serif;
}

.a-signup:hover{
    font-size: 2.1vh;
    color:black;
    background-color: white;
    cursor: pointer;
}

.bottom{
    background-color: rgb(0, 74, 185);
    overflow: hidden;
    bottom:0;
    padding:6vh  0  2vh 0;
}

.bp{
    margin:2vh;
    font-size:2vh;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
