/*
  #f4f7ed
  #86ee60
  #2e6e65
  #2b3752
*/
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  overflow-x: hidden;
}

.fade {
  opacity: 1;
}

/*--- navigation bar ---*/

.warning {
  background-color: rgb(255, 104, 117);
  padding: 10vh 10%;
  display: none;
}

.warning h2 {
  color: rgb(58, 58, 58) !important;
}

.warning p {
  color: white;
}

.warning .close-warning {
  font-size: 3vh;
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
  width:1.5vh;

}

.warning .close-warning:hover {
  font-size: 3vh;
  color: rgb(102, 0, 17);
}

.navbar {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background: transparent;
  position: fixed;
  z-index: 2;
  font-size: 2vh;
  padding: 0 10%;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.nav-link,
.navbar-brand .navbar-toggler-icon {
  cursor: pointer;
}

.navbar-brand img {
  width: 18vh;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 0, 0);
}

/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.spacer {
  height: 10vh;
}

.nav-link {
  margin-right: 1vh !important;
  font-size: 2vh;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-solid {
  background: white !important;
  transition: ease-in-out 0.1s;
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.33);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 8vh;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 5vh;
  padding: 1vh 0;
  color: rgb(0, 58, 119) !important;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 3.5vh;
  margin: 2vh 0;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  font-weight: 600;
  color: rgb(146, 146, 146);
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2vh;
  color: rgb(88, 88, 88);
}

.double-line {
  background-image: linear-gradient(90deg, transparent, #25126b, transparent);
  color: #25126b;
  overflow: visible;
  text-align: center;
  height: 1px;
  width: 200px;
  padding: 0;
}

.double-line:after {
  background: rgba(250, 250, 250, 0);
  color: #25126b;
  content: "⬥";
  padding: 0;
  position: relative;
  top: -12px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.footer {
  background-color: rgb(28, 27, 48);
  padding: 5vh;
  margin: 0 !important;

}

.footer h4,
.footer p {
  color: white !important;
}

.footer hr {
  border-color: rgb(147, 121, 243);
  width: 20%;
  text-align: left;
  display: inline-block;
}

.footer img {
  max-width: 70px;
  padding: 2vh;
}

.attribution,
.footer a {
  font-family: sans-serif;
  font-size: 2vh;
  line-height: 4vh;
  color: white !important;
  text-decoration: none;
}

.attribution:hover {
  text-decoration: none;
}

.btn {
  border-radius: 1vh;
  margin: 3vh 2vh 0 0;
  padding: 1vh 2vh;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 2.5vh;
  display: inline-block;
  transition: 0.2s ease;
}

.btn-lg {
  border-radius: 3vh;
  margin: 3vh 2vh 0 0;
  padding: 4vh 8vh;
  text-decoration: none !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 4vh;
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.button1 {
  border: 2px white solid;
  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

.button1:hover {
  color: rgb(255, 255, 255);
  background: rgba(57, 20, 192, 0.363);
  border: 2px solid transparent;
}

.button2 {
  background: rgb(57, 20, 192);
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0);
}

.button2:hover {
  color: rgb(44, 0, 163);
  background: rgba(255, 255, 255, 0);
  border: 2px solid rgb(44, 0, 163);
}

.form-block {
  max-width: 50vh;
}

.form-box {
  padding: 1%;
  margin:0  2vh;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 2vh;

}

.form-box li {
  font-family: 'Raleway', sans-serif;
  font-size: 2vh;
  color:rgb(255, 47, 82);
}

.form-box strong{
  color:rgb(219, 0, 37);
}

.form label {
  color: rgb(71, 71, 71);
  font-size: 2.5vh;
  font-family: 'Raleway', sans-serif;
  margin: 0 2vh 2vh 0;
}

.form label .subtext{
  color: rgb(71, 71, 71);
  font-size: 1.8vh;
  font-family: 'Raleway', sans-serif;
  margin: 0 2vh 2vh 0;
}

.form input {
  border: none;
  border-bottom: 1px solid grey;
  font-size: 2vh;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  height: 4vh;
  width: 100%;
  padding: 1vh;
}

textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 1vh;
  background-color: whitesmoke;
  font-size: 2vh;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  resize: none;
}

.apply {
  border: none;
  height: 25vh;
}

.extra {
  height: 10vh;
}

input[type=submit] {
  width: 18vh;
  padding: 1vh;
  margin: 0 2.5%;
  height: 6vh;
  border: 2px solid rgb(71, 71, 71);
  color: rgb(71, 71, 71);
  border-radius: 1vh;
  cursor: pointer;
  transition: all ease 0.2s;
}

input[type=submit]:hover {
  border: white;
  color: white;
  background-color: rgb(91, 27, 165);
}

select {
  font-family: 'Raleway', sans-serif;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 1vh;

}

.form-button{
  vertical-align: middle;
  margin: 2vh 7vh;
  border-radius: 1vh;
  box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 61, 142, 0.842);
  min-height: 14vh;
  transition:0.2s ease;
  display: flex;
}

.form-button:hover{
  box-shadow: 0.5vh 0.5vh 0.25vh rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 61, 109);
}

.form-button a{
  text-decoration: none !important;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 4vh;
  width:60%;
  height: 100%;;
  margin: auto;
  color:white;
  cursor: pointer;
}

.footer img {
  transition: 0.2s ease;
}

.footer img:hover {
  transform: scale(1.2);
}


@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}