body{
    position:relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin:0;
    padding:0;
    z-index: 0;
}

.main{
    width:100%;
    top:35vh;
    position: relative;
    background-image: url("../Pics/cityleft.jpeg");
    background-size: 50%;
    background-color: white;
    background-repeat: repeat-y;
    
    padding: 5vh 0 0 0;
}

.navigation{
    position:fixed;
    top:0;
    overflow: hidden;
    width:100%;
    height: 7vh;
    padding-right: 8vh;
    z-index: 1;
    transition: 0.3s;
}

.nfade-in{
    background-color: "white";
}

.navigation a {
    float: right;
    padding: 15px 30px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.navigation:hover {
    background-color:white !important;
}

.navigation:hover a{
    color:black !important;
}

.navigation a:hover{
    color: rgb(140, 180, 255) !important;
}
.navigation:hover .logo{
    filter: invert(100%) !important;
}

.logo:hover{
    background-color: rgb(92, 52, 0) !important;
}

.logo{
    background-image: url("../Pics/tjlogo2-light.png");
    background-size: cover;
    background-position: center;
    width: 10%;
    height: 100%;
    padding:0 !important;
    cursor: pointer;
    position: absolute;
    left: 4vh;
    transition: all ease 0.1s;
}

.banner{
    top:0;
    position: fixed;
    background-color: rgb(53, 199, 150);
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.title{
    position: absolute;
    top: 5vh;
    left: 20vh;
}

.title p{
    color: rgb(255, 255, 255);
}

#title-p{
    font-size:12vh;
    margin-bottom: 0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
}

.sheet{
    display: inline-block;
    width:40%;
    height: 150vh;
    background-color: transparent !important;
}
.sheet p{
    background-color:rgb(115, 136, 230) !important;
    color:white;
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
}

#mentor-p{
    background-color:rgb(83, 206, 228) !important;
}


.box{
    padding:2vh;
    width:100%;
}

.form label{
    color:rgb(110, 110, 110);
    font-size: 2.5vh;
    font-family: 'Poppins', sans-serif;
    margin: 0 2vh 0 0;
}

.form input{
    border:none;
    border-bottom:1px solid grey;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    height:4vh;
    width:80%;
}

textarea{
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 1vh;
    background-color: #f8f8f8;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    resize: none;
}

.apply{
    border: none;
    height:40vh;
}

.extra{
    height: 10vh;
}

input[type=submit]{
    width:100%;
    padding:1vh;
    height:6vh;
    border:2px solid grey;
    border-radius: 1vh;
    margin:1vh;
    cursor: pointer;
    transition: all ease 0.2s;
}

input[type=submit]:hover{
    border: white;
    color:white;
    background-color: rgb(27, 165, 165);
}

select{
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    width: 20%;

}

.desc{
    vertical-align: top;
    display: inline-block;
    width:45%;
    padding-right: 5%;
}

.desc p{
    font-size: 3.5vh;
    font-family: 'Poppins', sans-serif;
    color:rgb(61, 61, 61);
}

.big{
    font-size: 5vh;
    color:rgb(53, 199, 150);
}

.pic{
    background-size: cover;
    background-position: center;
    width:60%;
    height:30vh;
    filter:brightness(95%);
    border-radius: 5vh;
    margin: 3vh;
}

.left{
    float:left;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    box-shadow: 3px 20px 15px rgba(0,0,0,.25);
}

.right{
    float:right;
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
    box-shadow: 3px 20px 15px rgba(0,0,0,.25);
}

.choice{
    margin:0;
    padding:0;
}

.become{
    display: inline-block;
}

.user{
    font-size: 3vh  !important;
    display: inline-block;
    padding:1vh 4vh;
    margin:0 0 0 3vh;
    border-radius: 3vh;
    border: 2px grey solid;
    transition: all ease 0.2s;
}

#mentee:hover{
    cursor: pointer;
    color:white !important;
    border: 2px white solid !important;
    background-color: rgb(115, 136, 230) !important;
}

#mentor:hover{
    cursor: pointer;
    color:white !important;
    border: 2px white solid !important;
    background-color: rgb(83, 206, 228) !important;
}

.bottom{
    margin-top: 10vh;
    background-color: rgb(37, 112, 224);
    overflow: hidden;
    bottom:0;
    padding:6vh  0  2vh 0;
}

.bp{
    margin:2vh;
    font-size:2vh;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
