.section-1{
    background-image: url("../Pics/orange-pink-background.png");
    background-size: cover;
    padding: 25vh 0 15vh 0;
}

.form-block {
    padding:5vh;
    border-radius: 6vh;
    box-shadow: 0 2vh 2vh 1vh rgba(0, 0, 0, 0.5);
    max-width: 50%;
    background-color: rgb(255, 255, 255);
}

h2{
    color:#FD4E74 !important;
}

.box{
    padding:2vh;
    width:90%;
}

.form label{
    color:rgb(71, 71, 71);
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
    margin: 0 2vh 0 0;
}

.form input{
    border:none;
    border-bottom:1px solid grey;
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    height:4vh;
    width:100%;
    padding: 1vh;
}

textarea{
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 1vh;
    background-color: whitesmoke;
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    resize: none;
}

.apply{
    border: none;
    height:40vh;
}

.extra{
    height: 10vh;
}

input[type=submit]{
    width:93%;
    padding:1vh;
    height:6vh;
    border:2px solid grey;
    border-radius: 1vh;
    margin:1vh 0;
    cursor: pointer;
    transition: all ease 0.2s;
}

input[type=submit]:hover{
    border: white;
    color:white;
    background-color: rgb(27, 165, 165);
}

select{
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    padding:1vh;
    border-radius: 1vh;

}
